@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    background-image: url('../src/assets/images/bg-1.png'), url('../src/assets/images/bg-rounded.png'), url('../src/assets/images/Background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }